//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&tog {
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        holdLayer: holdLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDLAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp J &kp A &kp K &kp E &kp DOT &kp B &kp A &kp L &kp E &kp S &kp N7 &kp N2 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        console_log: console_log {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp C &kp O &kp N &kp S &kp O &kp L &kp E &kp DOT &kp L &kp O &kp G &kp LPAR &kp SQT &kp K_PASTE &kp SQT &kp RPAR>;
            label = "CONSOLE_LOG";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                    &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y      &kp U  &kp I      &kp O    &kp P
                    &kp A  &kp S  &kp D  &kp F  &kp G    &kp H      &kp J  &kp K      &kp L    &kp SEMICOLON
&hm LEFT_SHIFT TAB  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N      &kp M  &kp COMMA  &kp DOT  &kp SLASH      &kp APOSTROPHE
                                  &mo 2  &mo 1  &mo 3    &kp SPACE  &mo 4  &mo 5
            >;
        };

        Command {
            display-name = "Com";
            bindings = <
                  &kp LEFT_ALT      &trans  &trans  &trans  &trans    &trans  &console_log  &trans  &trans  &trans
                  &hm LEFT_SHIFT A  &trans  &trans  &trans  &trans    &trans  &email        &trans  &trans  &trans
&kp LEFT_COMMAND  &trans            &trans  &trans  &trans  &trans    &trans  &trans        &trans  &trans  &bootloader  &studio_unlock
                                            &trans  &trans  &trans    &trans  &trans        &trans
            >;
        };

        Control {
            display-name = "Ctr";
            bindings = <
                  &trans            &trans  &trans  &trans  &trans    &trans  &console_log  &trans  &trans  &trans
                  &hm LEFT_SHIFT A  &trans  &trans  &trans  &trans    &trans  &email        &trans  &trans  &trans
&kp LEFT_CONTROL  &trans            &trans  &trans  &trans  &trans    &trans  &trans        &trans  &trans  &bootloader  &studio_unlock
                                            &trans  &trans  &trans    &trans  &trans        &trans
            >;
        };

        Extras {
            bindings = <
        &kp ESC    &trans   &trans     &trans     &kp GRAVE     &trans  &trans  &trans  &trans  &trans
        &kp TILDE  &kp TAB  &kp SPACE  &kp ENTER  &kp BSPC      &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans   &trans     &trans     &kp DELETE    &trans  &trans  &trans  &trans  &trans  &trans
                            &trans     &trans     &trans        &trans  &trans  &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp TILDE         &kp HOME           &kp UP_ARROW  &kp END        &kp PAGE_UP      &trans    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
        &trans            &kp LEFT           &kp DOWN      &kp RIGHT      &kp PAGE_DOWN    &trans    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_ASTERISK
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans        &kp PAGE_DOWN  &kp LPAR         &kp RPAR  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp BACKSLASH    &kp PLUS
                                             &trans        &kp EQUAL      &kp MINUS        &trans    &trans        &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &trans  &trans  &trans        &trans           &trans              &trans  &kp F7  &kp F8  &kp F9  &kp F10
        &trans  &trans  &trans        &trans           &trans              &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans  &trans  &kp C_VOL_DN  &kp C_VOLUME_UP  &kp C_PLAY_PAUSE    &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                        &trans        &trans           &trans              &sl 6   &trans  &trans
            >;
        };

        Affinity {
            bindings = <
                &trans            &trans        &trans            &trans         &trans    &trans  &trans  &trans  &trans  &trans
                &kp LEFT_COMMAND  &kp LEFT_ALT  &trans            &trans         &trans    &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z             &kp X         &kp C             &kp V          &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                                &kp LEFT_CONTROL  &kp BACKSPACE  &trans    &sl 0   &trans  &trans
            >;
        };
    };
};
